<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.NAME_FULL_DISPLAY %></td>
        <td><%= link_to 'Show', person %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

